
<% 
  actions = wish.available_actions_for(@user)-[:show]
  if actions.blank? %>
    <%= t("wishes.actions.no_action_available") %>
  <% else  %>
<ul>
  <% actions.each do |action| %>
  <li><%= button_to_wish_action(action, @user, wish, remote, {state_action: action}) %></li>
  <% end %>
</ul>
<% end %>  



 
