<li class="contact mdl-grid">

  <div class="li_content mdl-cell"><%= contact.to_s %></div>
   <div class="mdl-layout-spacer"></div>
  <div class="actions md-cell">
    <%= link_to( user_identity_path(@user,contact),
               	 method: :delete,
                 class: "delete mdl-button mdl-js-button mdl-button--fab  mdl-js-ripple-effect"
                ) do %>
    	<i class="material-icons">remove</i>
    <% end %>	
    </div>
  </div>  

</li>