<li class="contact mdl-list__item">

  <span class="mdl-list__item-primary-content">
    <span><%= contact.to_s %></span>
  </span>
  
  <span class="mdl-list__item-secondary-content actions">
    <%= button_link_to(I18n.t("user.contacts.actions.delete.button"), user_identity_path(@user,contact), {method: :delete, class: "delete"} ) %>
  </span>  

</li>
