<li class="connection">

  <div class="li_content"><%= connection.fullname %></div>
  
  <div class="actions">
    <%= link_to( edit_user_connection_path(current_user,connection),
                 method: :get,
                 class: "edit mdl-button mdl-js-button mdl-button--fab  mdl-js-ripple-effect"
                ) do %>
      <i class="material-icons">mode_edit</i>
    <% end %> 

    <%= link_to( user_connection_path(current_user,connection),
               	 method: :delete,
                 data: { confirm: t("connection.views.delete.confirm.message"), "confirm-yes": t("confirm.yes"), "confirm-no": t("confirm.no")},
                 class: "delete mdl-button mdl-js-button mdl-button--fab  mdl-js-ripple-effect"
                ) do %>
    	<i class="material-icons">remove</i>
    <% end %>	
  </div>
 
</li>
