<li class="connection mdl-list__item">

  <span class="mdl-list__item-primary-content">
    <span><%= connection.fullname %></span>
  </span>
    
  <%= render partial: "actions", locals: {connection: connection, remote: false} %>
</li>
