<li class="connection mdl-list__item">

  <span class="mdl-list__item-primary-content">
    <span><%= connection.fullname %></span>
  </span>
  
  <span class="mdl-list__item-secondary-content actions">
    <%= button_link_to(I18n.t("connections.actions.edit.button"), edit_user_connection_path(@user,connection), {method: :get, class: "edit"} ) %>
    <%= button_link_to(I18n.t("connections.actions.delete.button"), user_connection_path(@user,connection), 
          {
            method: :delete, 
            class: "delete", 
            data: { 
              confirm: t("connections.views.delete.confirm.message"), 
              #keys are with '-', for consistency
              #if underscore is used 'confirm_yes', still dashed 'data-confirm-yes = "YES"' is generated in html
              "confirm-yes": t("confirm.yes"), 
              "confirm_no": t("confirm.no")
            }
          }
        ) %>
  </span>  

</li>
