  <span class="actions mdl-list__item-secondary-content">
  	<span class="as_list mdl-cell--hide-phone">
    <% for action in wish.available_actions_for(@user)-[:show] %>
      <%= button_to_wish_action(action, @user, wish, remote, {state_action: action}) %>
    <% end %>
    </span>


    
  </span>  

