  <span class="actions mdl-list__item-secondary-content">
  	<span class="as_list mdl-cell--hide-phone">
    <% for action in wish.available_actions_for(@user)-[:show] %>
      <%= button_to_wish_action(action, @user, wish, remote, {state_action: action}) %>
    <% end %>
    </span>

    <span class="as_menu mdl-cell--hide-desktop mdl-cell--hide-tablet">
	    <button id="wish-actions-menu-<%= wish.id %>" class="mdl-button mdl-js-button mdl-button--icon">
	       <i class="material-icons">more_vert</i>
	    </button>

			<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="wish-actions-menu-<%= wish.id %>">
			  <% for action in wish.available_actions_for(@user)-[:show] %>
			    <li class="mdl-menu__item"><%= link_to_wish_action(action, @user, wish, false, {state_action: action}) %></li>
			  <% end %>  
			</ul>
    </span>
    
  </span>  

