<li class="wish mdl-list__item mdl-list__item--three-line">

  <span class="mdl-list__item-primary-content">
     <span><%= link_to wish.title, user_others_wish_url(current_user, wish) %></span>
     <span class="mdl-list__item-text-body"><%= wish.description_shortened %></span>
  </span>
  
  <%= render partial: "actions", locals: {wish: wish} %>

</li>
