<li class="group mdl-list__item">

  <span class="mdl-list__item-primary-content">
    <span><%= link_to group.name, user_group_url(group.user, group) %><br />[<%= group.connections.count%>]</span>
  </span>
  
  <span class="mdl-list__item-secondary-content actions">
    <%= button_link_to(I18n.t("groups.actions.edit.button"), edit_user_group_path(@user,group), {method: :get, class: "edit"} ) %>
    <%= button_link_to(I18n.t("groups.actions.delete.button"), user_group_path(@user,group), 
        {
          method: :delete, 
          class: "delete", 
          data: { 
            confirm: t("groups.views.delete.confirm.message"), 
            #keys are with '-', for consistency
            #if underscore is used 'confirm_yes', still dashed 'data-confirm-yes = "YES"' is generated in html
            "confirm-yes": t("confirm.yes"), 
            "confirm_no": t("confirm.no")
          }
        }
      ) %>
  </span>  

</li>
