  <span class="mdl-list__item-secondary-content actions">
    <% for action in wish.available_actions_for(@user)-[:show] %>
      <%= button_to_wish_action(action, @user, wish) %>
    <% end %>
  </span>  

