<li class="wish mdl-grid">

  <div class="li_content mdl-cell">
     <%= link_to wish.title, user_my_wish_url(current_user, wish) %>
   </div>
  <div class="mdl-layout-spacer"></div>
  <%= render partial: "actions", locals: {wish: wish} %>

</li>
