<% add_jquery_ui %>

<h3><%= t("wishes.from_donee.views.index.header") %></h3>

<div id="wishes">
  <%= button_to_wish_action(:new, @user) %>

	<div id="donee_wishes_list" class="wishes-list">
		<ul class="list-with-actions  mdl-list">
		  <%= render( partial: "wish", collection: @wishes) || t("wishes.from_donee.views.index.no_wishes") %>
	  </ul>
	</div>

  <div>
    <%= link_to(t("wishes.from_donee.views.index.header_fulfilled"), user_my_wishes_path(@user, fulfilled: 1)) %>
  </div>
</div>       
       
