<article>
  <h1>Rybička zlatá - Golden fish</h1>
  <p>This app is serving for one purpose only: fulfill wishes, which your friends really have and not those, which You think they have.</p>

  <p>
    Every user have list of <em>connections</em> (e-mails) to his/her friends. He/She chooses <em>donors</em> and <em>donees</em> from them.<br />
    Every user can have unlimited number of <em>wishes</em>.<br />
    Every <em>wish</em> has one (personal wish) or more (shared wish) <em>donees</em> and any number (above 0 ideally) <em>potential donors</em>.<br />
    <strong>Every user can see only his/her personal wishes, shared wishes, where he/she is in donees and wishes of other users, which have him/her as a potential donor.</strong> 
    You can have a very private wish for few selected donors along with a public wish with many donors.<br />
    If potential donors make decision to fulfill the wish, he/she can <em>reserve</em> it, or <em>call for more co-donors</em>. If wish is fullfilled,  he/she marked it as <em>fulfilled</em>.<br />
    <strong>Donee can not see the current state of wish, so any time, wish can be changed, deleted or marked as fulfilled.</strong>
  </p>
  <p>Every sentence should start with 'Every'!</p>

  <p>Here will be a video tutorial.</p>
</article>
