<article>
  <p>Tato aplikace slouží k tomu abyste plnili přání která Vaši blízcí doopravdy mají a ne tak, která si myslíte že mají.</p>
  <p>
    Každý uživatel má seznam <em>kontaktů</em> (e-maily) na své známé, z nichž pak vybírá <em>dárce</em> a <em>obdarované</em>.<br />
    Každý uživatel může mít libovolný počet <em>přání</em>.<br />
    Každé <em>přání</em> má jednoho (osobní přání) či více (sdílené přání) <em>obdarovaných</em> a libovolný počet (ideálně větší než 0) <em>potenciálních dárců</em>.<br />
    <strong>Každý uživatel vidí svoje osobní přání, sdílená přání, kde figuruje jako obdarovaný a přání ostatních uživatelů, u kterých je uveden jako potenciální dárce.</strong> 
    Můžete tedy mít velmi soukromá přání jen pro vybrané dárce i davová přání ke splnění od kohokoliv.<br />
    Pokud se jako potenciální dárce rozhodne přání splnit, může si ho <em>zarezervovat</em> jen pro sebe, nebo <em>vyzvat ostatní dárce ke spoluúčasti</em>. Pokud přání splní označí je jako <em>splněné</em>.<br />
    <strong>Žádný z obdarovaných nevidí v jakém stavu to které přání je, proto ho může kdykoliv změnit, smazat nebo označit jako splněné.</strong>
  </p>
  <p>Každá věta by měla začínat na "Každ...."!</p>

</article>
