		<%= link_to t("devise.sessions.new.sign_in"), new_user_session_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
		<%= link_to t("devise.registrations.new.sign_up"), new_user_registration_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>

<main>
<%= render partial:  "home_article" %>
<iframe id="video_tutorial" width="530" height="315" src="https://www.youtube.com/embed/qH6ZwUEs-Es" frameborder="0" allowfullscreen></iframe>
</main>
