.mdl-layout {
  align-items: center;

 /* justify-content: center; */
}


.mdl-mini-footer .mdl-logo {
    margin-left: 1em;
}


.mdl-list__item-primary-content a {
  text-decoration: none;

}

.mdl-menu__item a {
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    width: 100%;
    display: inline-block;
}

.mdl-textfield__input {
  background-color: rgb(255, 254, 232);
}

.mdl-textfield__label {
  color: rgba(0,0,0,0.5);
}

