/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.divider-h {
	border-left: 1px solid #ddd;
	width: 1px;
}

.vh-centered {
	margin: auto 0 auto 0;
	vertical-align: middle;
	text-align: center;
}


/*
.mdl-cell {
	border: 1px solid #aaa;
}
*/

/* JAVAscript should hide form-add and enable this button 
   by default this button is hided and form-add is visible
*/
.button-add {
	display: none;
}

.form-add {}


.list-of-checkboxes ul, .list-of-unchecked ul, .list-of-checked ul{
	list-style-type: none;
	list-style-position: inside;
	padding-left:0;   
}


/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.list-with-actions li {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;  
	align-content: space-between;
	padding: 0.3em;
}

li .actions {
  margin-left: 1em;
}

.donors, .donees {
	padding: 0.5em;
	border: 1px solid gray;
}

.info {
	font-size: 80%;
	font-style: italic;
	color: gray;
}

#unused_connections {
	display: none;
	background-color: #afa;
}

.sortbox {
}


.sortable-list {
	min-height: 5em;
	margin-bottom: 0px ;
	padding: 0.3em;
	list-style-type: none;
	list-style-position: inside;
	border: 1px dashed rgb(63, 81, 181);
}

.sortable-list li {
	background-color: white;
	min-height: 2em;
	border: 1px solid gray;
  padding: 0.3em;  
  margin: 0.1em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.sortablee-list li input {
	display: hidden;
}

.sortable_drop_placeholder {
	border: 1px dashed #666;
	background-color: #aaa;
}


