#my_contacts {}

#add_contact {}

#contacts_list {

}

.list-with-actions {
	 list-style: none inside none;
	 padding-left: 0px;
}

.list-with-actions li {
	border-bottom: 1px solid #ddd;
}

.list-with-actions li:first-child {
		border-top: 1px solid #ddd;
}


.list-with-actions li .content {
	text-align: left;
}

.list-with-actions li .actions {
	text-align: right;
}

.list-with-actions li .actions .mdl-button{
/*  height: 1.5em;
  width: 1.5em;
*/  
}


#contacts_list .contact .delete {

}