<main class="mdl-layout__content">
		<section class="page-content mdl-cell">
      <%= flash_messages %>
      <%= yield %> 
    </section>
  
   
  <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>

  <%= render partial: "/footer" %>      
</main>


