
<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo"><%= t("rybickazlata.name") %>:</div>
    <ul class="mdl-mini-footer__link-list">
      <li><%= link_to(t("rybickazlata.static.about.title")+" / "+t("rybickazlata.static.contact_us.title"), about_url) %></li>
    </ul>
  </div>
</footer>
