<% if user_signed_in? %>
    <span id="user"><%= link_to(current_user.displayed_name, my_page_path(), class: "mdl-navigation__link") %></span>
    <%= link_to t("devise.sign_out"), destroy_user_session_path, :method => :delete, class: "mdl-navigation__link" %>
<% else %>
    <%= link_to t("devise.sign_up"), new_user_registration_path, class: "mdl-navigation__link" %>
    <%= link_to t("devise.sign_in"), new_user_session_path, class: "mdl-navigation__link" %>
<% end %>
 
